body{
    background-color: black
}
.navbar{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -30px;
    list-style: none;
}
.font{
    display: flex;
justify-content: flex-end;
gap: 20px;
position: relative;
top: -20px;
right: 30px;
}
.font :hover{
    color: aqua;
}

.h{
    color: whitesmoke;
}
.h:hover{
    color: rgb(111, 168, 54);
}
.navbar :hover{
    color: rgb(111, 168, 54);
}
.box{
    width: 20vw;
    height: 30vh;
    border:none;
    margin-top: 50px;
    margin-left: 30px;
}
.iam{
    color: whitesmoke;
}
.adams{
    color:  whitesmoke;
}
.top{
    width: 10vw;
    height: 2vh;
    border-top: solid green 1px
}
.circle{
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
    background-color: rgb(97, 55, 55);
    margin-left: 40%;
    margin-top: -10%;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-left: 42%;
    margin-top: -20%;
}
.twitter{
    height: 60vh;
    width: 30vw;
}
.box2{
    width: 20vw;
    height: 30vh;
    border:none;
  margin-top: -20%;
    margin-left: 70%;
    
}
.show{
    color:rgb(111, 168, 54) ;
}
.big{
    height: 80vh;
    width: 100%;
    border: none;
    background-color: #494949;
}
.big2{
    height: 80vh;
    width: 100%;
    border: none;
    background-color: #3199B0;
  margin-top: -50px;
}
.box3{
     width: 20vw;
    height: 30vh;
    border:none;
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 30px;
}
.biodata{
    display: flex;
}
.bio{
    display: flex;
}
.num{
    color: green;
   
}
.pro{
    color: black;
}
.contact{
     color: green;
     margin-left: 70px;
}
.con{
    color: black;
}
.community{
     color: green;
}
.comm{
    color: black;
}
.years{
    color: green;
    margin-left: 30px;
}
.year{
    color: black;
}
.para{
    color: black;
}
.flex{
    height: 10%;
    width: 20%;
    border: none;
    margin-left: 50%;
    margin-top: -25%;

}
.ux{
    margin-left: -60%;
    margin-top: -30%;
    height: 10vh;
    width: 10vw;
    overflow: hidden;
}
.ui{
height: 1vh;
width: 15vw;
border-bottom: solid green 1px;
}
.web{
    height: 10%;
    width: 20%;
    border: none;
    margin-left: 50%;
   
}
.front{
     margin-left: -60%;
    margin-top: -30%;
    height: 10vh;
    width: 10vw;
    overflow: hidden;}
    .dev{
        .
height: 1vh;
width: 15vw;
border-bottom: solid green 1px;
    }
    .app{
          margin-left: -60%;
    margin-top: -30%;
    height: 10vh;
    width: 10vw;
    overflow: hidden;
}
   .class{
    height: 1vh;
width: 15vw;
border-bottom: solid green 1px;
   }